@font-face {
font-family: 'Adventure Subtitles';
src: url('./assets/Adventure Subtitles.ttf') format('truetype');
}


.blink {
-webkit-animation-name: blink;
animation-name: blink;
-webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
-webkit-animation-duration: 1.2s;
animation-duration: 1.2s; }

@keyframes blink {
0% {
    opacity: 1; }
25% {
    opacity: 0; }
50% {
    opacity: 1; }
75% {
    opacity: 0; }
100% {
    opacity: 1; } }


.home_selectCoach {
    position: absolute;
    top: 213px;
    width: 1080px;
    height: 74px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 56px/74px Segoe UI;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: Bold 57px/42px Microsoft Tai Le;
    letter-spacing: 0px;
    font-size: 60px;
    color:#74E0FC;
    opacity: 1;
}

.home_auth{
    position: absolute;
    top: 1300px;
    width: 1080px;
    height: 74px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 56px/74px Segoe UI;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: Bold 57px/42px Microsoft Tai Le;
    letter-spacing: 0px;
    font-size: 50px;
    color:#74E0FC;
    opacity: 1;
}

.home_selectCoachAreaSize {
    position: absolute;
    top: 200px;
    left: 130px;
    width: 840px;
    height: 1200px;
    display: inline;
}

.home_coachArea {
    width: 380px;
    float: left;
    padding: 10px;
    margin-right: 20px;
    mix-blend-mode: lighten;
}

.home_coachArea:focus {
    outline:none
}

.home_videoArea {
    height: 1000px;
    top: 100px;

    position: relative;
    width: 900px;
    left: -254px;
}

.home_tour {
    position: absolute;
    top: 1400px;
    left: 270px;
    width: 540px;
    height: 412px;
    mix-blend-mode:screen;
    /*background-image: url('./assets/homedir.png');*/
}

.class2_tour {
    position: absolute;

    left: 0px;
    top: 1532px;
    mix-blend-mode:screen;
}

.class2_area{
    position: absolute;
    top: 232px;
    left: 0px;
    width: 1080px;
    height: 1320px;
    max-height: 1320px;
    min-height: 1320px;
    overflow-y: hidden;
}

.class2_catalog_area{
    height: 354px;
    width: 100%;
    display: flex;
    margin-bottom: 47px;
}

.class2_catalog{
    width:269px;
}

.class2_catalog_Name1{
    position: relative;

    left: 94px;
    top: 89px;
    height: 160px;
    width: 112px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 164px/42px Adventure Subtitles;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-74e0fc);
    text-align: center;
    font: normal normal normal 164px/42px Adventure Subtitles;
    letter-spacing: 0px;
    color: #FBFBFB;
    opacity: 0.44;
}

.class2_catalog_Name2{
    position: relative;

    top: 0px;
    width: 269px;
    height: 29px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 30px/var(--unnamed-line-spacing-41) Adventure Subtitles;
    text-align: center;
    font: normal normal normal 30px/41px Adventure Subtitles;
    letter-spacing: 1.86px;
    color: #FBFBFB;
    opacity: 0.7;
}

.class2_catalog_Name3 {
    position: relative;
    top: -120px;
    left: 165px;
    width: 53px;
    height: 70px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-74e0fc);
    text-align: left;
    font-size: 53px;
    font: Regular 53px/52px Microsoft Sans Serif;
    letter-spacing: 0px;
    color: #74E0FC;
    opacity: 1;
}

.class2_course_area {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.class2_courseItem {

    width: 630px;
    height: 354px;
    min-width: 630px;
    min-height: 354px;
    max-width: 630px;
    max-height: 354px;

    background: #001620 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 47px;
}

.class2_courseWrappImage_area {
    position: relative;

    display: none;
    top: -502px;
    overflow-y: hidden;

    width: 630px;
    height: 354px;
    min-width: 630px;
    min-height: 354px;
    max-width: 630px;
    max-height: 354px;

    background: #001620 0% 0% no-repeat padding-box;
    opacity: 1;
}

.class2_courseWrappImage_border {
    position: relative;

    left: 157.5px;

    width: 315px;
    height: 345px;
    min-width: 315px;
    min-height: 345px;
    max-width: 315px;
    max-height: 345px;
}

.class2_courseWrapperImage {
    position: relative;
    top: -368px;
    height: 388px;
    mix-blend-mode:screen;
}

.class2_courseItem:focus {
    outline:none
}

.class2_courseImage {
    margin-top: 49px;
}

.class2_courseName_wrapper {
    position: relative;
    top: -176px;
    width: 100%;
    height: 110px;

    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.49;
}

.class2_courseName_title {
    position: relative;
    top: -275px;
    width: 100%;

    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-74e0fc);
    text-align: center;
    font-size: 69px;
    font: Regular 69px/52px Microsoft Sans Serif;
    letter-spacing: 0px;
    color: #d4d4d4;
    opacity: 1;
}

.classBegin_ClassName {
    position: absolute;

    top: 213px;
    width: 1080px;
    height: 67px;
    text-align: center;
    font: Bold 57px/42px Microsoft Tai Le;
    font-size: 60px;
    letter-spacing: 0px;
    color: #74E0FC;
    opacity: 1;
    z-index: 10;
}

.classBegin_backgroundImg {
    position: absolute;

    top: 1236px;
    width: 417px;
    height: 411px;
    background: #74E0FC 0% 0% no-repeat padding-box;
    background: transparent url('./assets/pic_deco1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 20;
}

.chanetransition{
    position: absolute;
    top:0px;
    left:0px;
    list-style: none;
    width: 1080px;
    height: 100%;
    background-color: #000000;
    border-radius: 5px;
    margin: 0 0 20px;
    letter-spacing: 1px;
    font-weight: 100%;
    text-align: center;
    line-height: 60px;
    opacity: 0.8;
    z-index: 100;
    display:none;
}

.classBegin_checked {
    height:66px;
    width:66px;
    background-image: url('./assets/b_checked.png');
    background-size: 66px;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    left: 170px;
}

.classBegin_unchecked {
    height:66px;
    width:66px;
    background-image: url('./assets/b_unchecked.png');
    background-size: 66px;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    left: 170px;
}

.classBegin_StartImg{
    position: absolute;

    top: 296px;
    left: 0px;
    width: 1080px;
    height: 1080px;
    opacity: 1;

    z-index: 110;
}

.classBegin_HoldImg{
    position: absolute;

    top: 800px;
    left: 66px;
    width: 933px;
    height: 249px;
    background: transparent url('./assets/pic_holdtimebg_2.png') 0% 0% no-repeat padding-box;
    opacity: 1;

    z-index: 100;
}

.classBegin_HoldImg_progressBar_base{
    position: relative;

    top: 10px;
    left: 37px;
    width: 597px;
    height: 0px;

    border: 20px solid #FFFFFF55;
    /*opacity: 0.33;*/
    border-radius: 60px;
}

.classBegin_HoldImg_progressBar_value{
    width: 500px;
    height: 0px;

    border: 20px solid #17FF21;
    border-radius: 60px;
    margin-top: -20px;
    margin-left: -20px;
}

.classBegin_HoldImg_Title{
    position: relative;
    top: 65px;
    left: 756px;
    width: 110px;
    font-size: 26px;
    font: Bold 26px/31px Microsoft New Tai Lue;
    color :#17FF21;
    opacity: 1;
}

.classBegin_HoldImg_value_area{
    position: relative;

    top: 72px;
    left: 761px;
    width: 100px;
    text-align: center;
}

.classBegin_HoldImg_Value{
    position: relative;

    width: 100px;
    font-size: 60px;
    font: Bold 60px/65px Microsoft New Tai Lue;
    color :#17FF21;
    opacity: 1;
    display:inline;
}

.classBegin_HoldImg_Sec{
    position: relative;

    width: 100px;
    font-size: 26px;
    font: Bold 26px/31px Microsoft New Tai Lue;
    color :#17FF21;
    opacity: 1;
    display:inline;
}
.classBegin_noticeboard_title{
    position: relative;

    top: 87px;
    left: 50px;
    width: 511px;
    height: 229px;
    line-height: 229px;
    font-size: 63px;
    font: Bold 63px/73px Microsoft New Tai Lue;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    color: #17FF21;
    opacity: 1;
    display: grid;
    place-content: center;
}

.classBegin_video{
    position: absolute;
    top: 200px;
    /*left: 215px;*/
    height: 1450px;
    mix-blend-mode:screen;
    /*width:150%;*/
}

.classBegin_video2{
    position: absolute;
    top: 200px;
    /*left: 215px;*/
    height: 1450px;
    mix-blend-mode:screen;
    display:none;
    /*width:150%;*/
}

.classBegin_actionTip{
    position: absolute;
    top: 813px;
    left: 115px;
    width: 800px;
    height: 226px;

    opacity: 1;
}

.classBegin_actionTip2{
    display: inline-block;
    vertical-align: middle;
    width: 800px;
    height: 226px;
}

.classBegin_actionTip_img{
    width: 167px;
    height: 226px;
    /*background: transparent url('./assets/pic_deco2.png') 0% 0% no-repeat padding-box;*/
    display: table-cell;
}

.classBegin_actionTip_text{
    display: table-cell;
    /*height: 226px;*/
    width: 602px;
    margin: 0 auto;
    place-content: center;
    text-align: left;
    font: Bold 45px/42px Adventure Subtitles;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 45px;
    letter-spacing: 0px;
    color: #17FF21;
    opacity: 1;
    line-height: 60px;
    vertical-align: middle;
}

.classBegin_noticeboard{
    position: absolute;

    top: 1120px;
    left: 100px;
    width: 610px;
    height: 340px;
    background: transparent url('./assets/noticeboard_2.gif') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.classBegin_newTimer {
    position: absolute;

    top: 448px;
    left: 871px;
    width: 98px;
    height: 138px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 142px/42px Adventure Subtitles;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal normal 142px/42px Adventure Subtitles;
    letter-spacing: 0px;
    color: #FAFAFA;
    opacity: 1;
}

.classBegin_Timer {
    position: absolute;

    top: 304px;
    /*left: 389px;*/
    width: 1080px;
    height: 100px;
    text-align: center;
    font: Normal 103px/42px Adventure Subtitles;
    font-size: 103px;
    letter-spacing: 0px;
    color: #74E0FC;
    opacity: 1;
    z-index: 10;
}

.classBegin_counter {
    position: absolute;

    top: 355px;
    left: 761px;
    width: 219px;
    height: 217px;
    background: transparent url('./assets/pic_timecount_bg.png') 0% 0% no-repeat padding-box;

    opacity: 1;
    z-index: 5;
}

.classBegin_SET_Title {
    position: absolute;

    top: 411px;
    left: 826px;
    width: 92px;
    height: 108px;
    text-align: left;
    font-size: 23px;
    font: Regular 23px/68px Microsoft Tai Le;
    letter-spacing: 0px;
    color: #74E0FC;
    opacity: 1;
    z-index: 5;
}

.classBegin_SET_Value {
    position: absolute;

    top: 449px;
    left: 811px;
    width: 121px;
    height: 68px;
    text-align: center;
    font-size: 70px;
    font: Normal 70px/68px Adventure Subtitles;
    letter-spacing: 0px;
    color: #74E0FC;

    z-index: 5;
}

.classBegin_stopCircleProgress{
    position: absolute;
    top: 1800px;
    left: 962px;
    width: 80px;
    height: 80px;
    z-index: 90;
}
.classBegin_stopCircleProgress_value{
    font-size: 26px;
    font: Normal 26px/68px Adventure Subtitles;
    letter-spacing: 0px;
    color:#17FF21;
}

.classBegin_circleProgress{
    position: absolute;
    top: 781px;
    left: 395px;
    width: 290px;
    height: 290px;
    z-index: 90;
}

.classBegin_circleProgress_title{
    font-size: 50px;
    font: Normal 50px/68px Microsoft Tai Le;
    letter-spacing: 0px;
    color:#17FF21;
}
.classBegin_circleProgress_value{
    font-size: 83px;
    font: Normal 83px/68px Adventure Subtitles;
    letter-spacing: 0px;
    color:#17FF21;
}

.classBegin_circleProgress_sec{
    font-size: 37px;
    font: Normal 37px/68px Microsoft Tai Le;
    letter-spacing: 0px;
    color:#17FF21;
}

.classBegin_QuickImage{
    position: absolute;
    top: 1721px;
    left: 70px;
    width: 136px;
    height: 136px;
    background-size: 136px 136px;
    background-image: url('./assets/leave.png');
    background-repeat: no-repeat;
    opacity: 1;
}

.classBegin_QuickTextArea{
    position: absolute;
    top: 1734px;
    left: 229px;
    width: 350px;
    height: 94px;
    font-size: 37%;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 37px;
}

.classDone_Title {
    position: absolute;

    top: 342px;
    /*left: 197px;*/
    width: 1080px;
    height: 136px;
    text-align: center;
    font: Bold 66px/42px Microsoft Tai Le;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1
}

.classDone_QRCode {
    position: absolute;

    top: 622px;
    left: 428px;
    width: 224px;
    height: 224px;
    background: transparent url('./assets/Image 15.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.classDone_AvgTime_title{
    position: absolute;
    /*top: 803px;*/
    top: 753px;
    left: 150px;
    width: 328px;
    height: 54px;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font-size: 41px;
    font: Regular 41px/78px Microsoft Sans Serif;
    letter-spacing: 0px;
    color: #74E0FC;
    opacity: 1;
}

.classDone_AvglTime_value{
    position: absolute;
    /*top: 880px;*/
    top: 830px;
    left: 196px;
    width: 333px;
    text-align: center;

    height: 114px;
    letter-spacing: NaNpx;
    font-size: 109px;
    font: Normal 109px/83px Adventure Subtitles;
    color: #FFFFFF;
    opacity: 1;
}

.classDone_TotalTime_title{
    position: absolute;

    /*top: 803px;*/
    top: 753px;
    left: 696px;
    width: 205px;
    height: 54px;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font-size: 41px;
    font: Regular 41px/78px Microsoft Sans Serif;
    letter-spacing: 0px;
    color: #74E0FC;
    opacity: 1;
}

.classDone_TotalTime_value{
    position: absolute;

    /*top: 880px;*/
    top: 830px;
    left: 601px;
    width: 333px;
    height: 114px;
    font-size: 109px;
    font: Normal 109px/83px Adventure Subtitles;

    text-align: center;
    letter-spacing: NaNpx;

    color: #FFFFFF;
    opacity: 1;
}

.classDone_qrcode_area{
    position: absolute;

    /*top: 1021px;*/
    top: 971px;
    left: 0px;
    width: 1080px;
    height: 286px;

    background: var(--unnamed-color-74e0fc) 0% 0% no-repeat padding-box;
    background: #74E0FC 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 143px;
    opacity: 0.23;
}

.classDone_newCountArea {
    position: absolute;

    top:505px;
    width:1080px;
}

.classDone_innerArea{
    display: table;
    margin: 0 auto;
}

.classDone_inner2Area{
    display: flex;
}

.classDone_newNumberFons{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 143px/95px Adventure Subtitles;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal normal 143px/95px Adventure Subtitles;
    letter-spacing: 0px;
    color: #17FF21;
    margin-left: 20px;
    margin-right: 20px;
}

.classDone_Star {
    color: #74E0FC;
    font-size: 55px;
    margin: 0 auto 20px 45%;
}

.classDone_newFons {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 53px/108px var(--unnamed-font-family-microsoft-sans-serif);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 53px/108px Microsoft Sans Serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.classDone_newFons2{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 53px/108px var(--unnamed-font-family-microsoft-sans-serif);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 108px/108px Microsoft Sans Serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-right: 20px;
}

.classDone_qrcode_title{
    position: absolute;
    /*top: 1044px;*/
    top: 994px;
    left: 397px;
    width: 287px;
    height: 35px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: Bold 26px/42px Microsoft Tai Le;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.classDone_qrcode_value{
    position: absolute;
    /*top: 1092px;*/
    top: 1042px;
    left: 449px;
    width: 183px;
    height: 183px;
    background: transparent url('./assets/MOVE_QRCode.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.classDone_okButton {
    position: absolute;
    /*top: 1348px;*/
    top: 1298px;
    left: 173px;
    width: 735px;
    height: 95px;
    background: transparent;
    border-radius: 48px;
    border: 3px solid #57B4FB;

    text-align: center;
    font: Bold 50px/42px Microsoft Tai Le;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.classDone_okButton:focus{
    outline: none;
}

.classDone_okButton:focus-within{
    border: 6px solid #79E0FA;
}

.classDone_endButton {
    position: absolute;

    /*top: 1488px;*/
    top: 1438px;
    left: 173px;
    width: 735px;
    height: 95px;
    border: 3px solid #57B4FB;
    background: transparent;
    border-radius: 48px;

    text-align: center;
    font: Bold 50px/42px Microsoft Tai Le;
    letter-spacing: 0px;
    color: #FFFFFF;

    opacity: 1;
}


.classDone_endButton:focus{
    outline: none;
}

.classDone_endButton:focus-within{
    border: 6px solid #79E0FA;
}

.testAnimation {
    z-index:3000;
    width:1080px;
    height:1920px;
    position: absolute;
    left:0px;
    top:0px;
    display:none;

    background-color: #000000BB;

    transition: background-color .3s;
    /*animation: clipcircle 1s linear 0S infinite;*/
}

.testAnimation_animation {
    animation: clipcircle 500ms ease-in-out
}

@keyframes clipcircle{
    0% { clip-path: circle(0 at 50% 50%);}
    100% { clip-path: circle(1920px at 50% 50%);}
}